body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7f6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #333;
  margin-bottom: 20px;
}

button {
  background-color: #5cb85c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #4cae4c;
}

input[type="text"], input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

p {
  color: red;
  font-weight: bold;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Banner Styles */
.banner {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin: 20px auto;
  width: 80%; 
  max-width: 800px; 
  height: 300px; 
  position: relative; 
  overflow: hidden; 
}

.banner h1 {
  margin: 0;
  font-size: 24px;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
}

.banner p {
  margin: 10px 0;
  font-size: 18px;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
}

.banner a {
  display: block;
  width: 100%;
  height: 100%;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; 
}


.dashboard {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.dashboard h2 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
}

.dashboard form div {
  margin-bottom: 20px;
}

.dashboard label {
  font-size: 16px;
  margin-bottom: 5px;
}

.dashboard input[type="text"], .dashboard input[type="number"] {
  border: 1px solid #ddd;
}

.dashboard button {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.dashboard button:hover {
  background-color: #286090;
}


@media (max-width: 600px) {
  .App {
    width: 100%;
    padding: 15px;
  }

  .banner h1 {
    font-size: 20px;
  }

  .banner p {
    font-size: 16px;
  }

  .dashboard h2 {
    font-size: 18px;
  }

  .dashboard label {
    font-size: 14px;
  }

  .dashboard input[type="text"], .dashboard input[type="number"] {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}
